$black: #010000;
$white: #ffffff;
$lightGrey: #e6e6e6;
$darkGrey: #333;
$red: #ff1755;

$color-primary: #063640;

$color-secondary-1: #6eb2fb;
$color-secondary-2: #00d3ca;

$color-third-1: #f1ad3d;
$color-third-2: #effc90;

$color-dark-1: #2e2e2e;
$color-dark-2: #6c6c6c;
$color-dark-3: #b4b4b4;
$color-dark-4: #f7f7f7;
$color-dark-5: #ffffff;

body {
  font-family: 'Open sans', sans-serif;
  font-size: 18px;
  color: $black;
  font-weight: 400;
  font-style: normal;
}

@mixin translateY($e) {
  -webkit-transform: translateY($e);
  -moz-transform: translateY($e);
  transform: translateY($e);
}

@mixin transition($e) {
  -webkit-transition: translateY($e);
  -moz-transition: translateY($e);
  transition: translateY($e);
}