@import "./config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.toolbar {
  position: fixed;
  width: 100%;
  background-color: $color-secondary-1;
  height: 56px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 99;
}

.toolbar-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 99;
  padding: 0 1rem;
}

.toolbar-logo {
  margin-left: 1rem;
}

.toolbar-logo a {
  color: $white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar-navigation-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.toolbar-navigation-items li {
  padding: 0 0.5rem;
}

.toolbar-navigation-items a {
  color: $white;
  text-decoration: none;
}

.toolbar-navigation-items a:hover,
.toolbar-navigation-items a:active {
  color: #fa923f;
}

@media(max-width: 765px) {
  .toolbar-navigation-items {
    display: none;
  }
}

@media(min-width: 769px) {
  .toolbar-toggle-button {
    display: none;
  }
  .toolbar-logo {
    margin-left: 0;
  }
}