@import "./config";

.col-6 {
  width: 50%;
}

.col-12 {
  width: 100%;
}

.jumbotron--section {
  padding-top: 80px;
  padding-bottom: 100px;
  width: 100%;
  background-color: #bdbdbd;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron--container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  justify-content: space-between;
  align-items: center;
}

.jumbotron--title {
  width: 40%;
}

.jumbotron--title h1 {
  font-size: 40px;
  font-family: Amiko;
  color: $black;
  font-weight: bold;
}

.jumbotron--title p {
  color: $color-dark-1;
  font-size: 14px;
  font-family: Amiko;
  color: $black;
}

.jumbotron--img {
  width: 55%;
}

.jumbotron--img img {
  width: 100%;
  border-radius: 5%;
}