@import "./config";

.side-drawer {
  height: 100%;
  background: $white;
  box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 70%;
  max-width: 400px;
  transform: translateX(-100%);
  z-index: 200;
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.side-drawer li {
  margin: 0.5rem 0;
}

.side-drawer a {
  color: $color-secondary-1;
  text-decoration: none;
  font-size: 1.2rem;
}

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f;
  
}

@media (min-width: 765px) {
  .side-drawer {
    display: none;
  }
}